{% extends 'base.html' %}
{% load static %}
{% block title %}All Games{% endblock title %}
{% block nav-style %}mkt-nav{% endblock nav-style %}

{% block content %}
<div class="list" onload="loadList()">
    <div class="card" style="background-color:#EBE8E8">
      <div class="card-body">
      <div class="row" style="height:130px">

        <div class="col-2" style="padding-right:20px; border-right: 1px solid #757575;">
          <div class="game-image">
              <img src="{% static "images/nioh-2016jpg-9b2e3b_160h.jpg" %}" class="rounded" width="110px" height="110px" alt="Nion" />
              <span class="game-name">
                <center font-size="5">Nion</center>
              </span>
          </div>
        </div>

        <div class="col-2" style="padding-right:20px; border-right: 1px solid #757575;">
          <div class="release-date">
            <h5>Release at:<h5>
            <p><font size="5">February 8, 2017</font></p>
          </div>
        </div>
      <div class="col-5" style="padding-right:20px; border-right: 1px solid #757575;">
        <h4>Describe:</h4>
        <p>Nioh is an action role-playing video game developed by Team Ninja for the PlayStation 4 and Microsoft Windows.  </p>
      </div>
      <div class="col-2">
        <h4>Rates:</h4>
        <center>
        <h1 style="margin-top:20px;margin-left:50px">9.2</h1>
       </center>
      </div>
      </div>
    </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="loading-icon">
  <center>

  </center>
</div>
{% endblock content %}

{% block footer_javascript_section %}
<script>
var scrollLoad = false;
function loadList(){
}
$(window).scroll(function() {
  if($(window).scrollTop() + $(window).height() == $(document).height()) {
    if(scrollLoad == false)
    {
      $('.loading-icon > center').prepend('<img src="{% static "images/Spinner.gif"%}" width="60px" height="60px"/>');
      scrollLoad = true;
    }
  }
});
function search(keywords){
  $.ajax({
    url:$(location).attr('hostname')+"/search?"+keywords.replace(" ", "-"),
    success: function(data){
    },
    method:"GET",
    data:{keywords: keywords}

  })
}
function appendElement(elementJSON){
  $('.list').append("<div class='card' style='background-color:#EBE8E8'><div class='card-body'><div class='row' style='height:130px'><div class='col-2' style='padding-right:20px; border-right: 1px solid #757575;'><div class='game-image'><img src='{% static 'images/nioh-2016jpg-9b2e3b_160h.jpg' %}' class='rounded' width='110px' height='110px' alt='Nion' /><span class='game-name'><center font-size='5'>Nion</center></span></div></div><div class='col-2' style='padding-right:20px; border-right: 1px solid #757575;'><div class='release-date'><h5>Release at:<h5><p><font size='5'>February 8, 2017</font></p></div></div><div class='col-5' style='padding-right:20px; border-right: 1px solid #757575;'><h4>Describe:</h4><p>Nioh is an action role-playing video game developed by Team Ninja for the PlayStation 4 and Microsoft Windows.  </p></div><div class='col-2'><h4>Rates:</h4></div></div></div></div>");
}
</script>
{% endblock footer_javascript_section %}
