{# HTML5 declaration #}
<!DOCTYPE html>
<html>
{# Make modifiable head elements #}

<head>
  <title>{% block title %}Home {% endblock title %} | Project</title>
  {% block head_favicon %}
  <link rel="icon" type="image/png" href="{{ STATIC_URL }}images/favicon.ico"> {% endblock head_favicon %} {% block head_meta %} {% block head_meta_charset %}
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> {% endblock head_meta_charset %} {% block head_meta_contentlanguage %}
  <meta http-equiv="Content-Language" value="en-US" /> {% endblock head_meta_contentlanguage %} {% block head_meta_viewport %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> {% endblock head_meta_viewport %}
  {% endblock head_meta %}
  {% block head_css %}
  {% block head_css_site %}
  {% load static %}
  <link href="{% static "css/bootstrap.min.css"%}" rel="stylesheet" media="screen">
  <link href="{% static "css/my.css"%}" rel="stylesheet">
  {% endblock head_css_site %}
  {% block head_css_section %}{% endblock head_css_section %}
  {% block head_css_page %}{% endblock head_css_page %}
  {% endblock head_css %}
</head>

<body style="background-color:#C0C0C0;">
  {# Navigation Menu #}
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" id="allgameBTN" href="">All Games</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
      </ul>
      <div class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" onclick="search(this)">Search</button>
      </div>
    </div>
  </nav>
  <br>
  <br>
  <br>
  <main role="main" class="container">
    {% block content %}
      If this is showed, Something is wrong.
    {% endblock %}

  </main>
  {# The Footer #}
  <footer class="footer fixed-bottom">
    <div class="container">
      <span class="text-muted">Game Information</span>
    </div>
  </footer>
  </body>
  {% block footer_javascript %} {% block footer_javascript_site %}
  <script src="{% static "js/jquery-3.2.1.js"%}"></script>
  <script src="{% static "js/popper.js"%}"></script>
  <script src="{% static "js/bootstrap.min.js"%}"></script>
  <script>
  $('#allgameBTN').attr('href', 'http://'+location.host);

  </script>
  {% endblock footer_javascript_site %}
  {% block footer_javascript_section %}{% endblock footer_javascript_section %}
  {% block footer_javascript_page %}{% endblock footer_javascript_page %} {% endblock footer_javascript %}

</html>
